extends layout

block content

  //- Portafolio Seccion

  section(class="d-flex vh-100 bg-info justify-content-center align-items-center masthead", id="portafolio",
  style="position:relative;")
    div(class="justify-content-center")
        div(class="row justify-content-center")
            div(class="col-md-10 col-lg-10 col-10 img-circle")
              img(src="/images/flower_shop.jpg", class="img-thumbnail", alt="Alt", style="height:400px;width:650px;")
        div(class="container-fluid justify-content-center py-4")
          div(class="row justify-content-center")
            h1(class="text-white text-uppercase") Flower Shop
          div(class="row justify-content-center")
            h5(class="font-weight-light text-white") Custom heart details


  section(id="flower_arrangements",style="position:relative;")
    center 
      h3 Flower Arrangements
      div(class="row")

          div(class="col-sm-12 col-md-6 col-lg-4 col-xl-4 col-12")
            div(class="boton_modal container"
                value-title="Flower Arrangements 1"
                value-img="/images/flower_arrangements-1.jpg"
                value-description="flower arrangements 1"
                style="height: 400px;width: 250px;margin-bottom:20px;"
              )
              center
                img(src="/images/flower_arrangements-1.jpg", 
                alt="flower arrangements 1",
                style="height:400px;width:320px;",
                class="img-fluid rounded shadow-lg flower_arrangements")

          div(class="col-sm-12 col-md-6 col-lg-4 col-xl-4 col-12")
            div(class="boton_modal container"
                value-title="Flower Arrangements 2"
                value-img="/images/flower_arrangements-2.jpg"
                value-description="flower arrangements 2"
                style="height:400px;width:320px;margin-bottom:20px;"
              )
              center
                img(src="/images/flower_arrangements-2.jpg", 
                alt="flower arrangements 2",
                style="height:400px;width:320px;",
                class="img-fluid rounded shadow-lg flower_arrangements")

          div(class="col-sm-12 col-md-6 col-lg-4 col-xl-4 col-12")
            div(class="boton_modal container"
                value-title="Flower Arrangements 3"
                value-img="/images/flower_arrangements-3.jpg"
                value-description="flower arrangements 3"
                style="height:400px;width:320px;margin-bottom:20px;"
              )
              center
                img(src="/images/flower_arrangements-3.jpg", 
                alt="flower arrangements 3",
                style="height:400px;width:320px;",
                class="img-fluid rounded shadow-lg flower_arrangements")

          div(class="col-sm-12 col-md-6 col-lg-4 col-xl-4 col-12")
            div(class="boton_modal container"
                value-title="Flower Arrangements 4"
                value-img="/images/flower_arrangements-4.jpg"
                value-description="flower arrangements 4"
                style="height:400px;width:320px;margin-bottom:20px;"
              )
              center
                img(src="/images/flower_arrangements-4.jpg", 
                alt="flower arrangements 4",
                style="height:400px;width:320px;", 
                class="img-fluid rounded shadow-lg flower_arrangements")

          div(class="col-sm-12 col-md-6 col-lg-4 col-xl-4 col-12")
            div(class="boton_modal container"
                value-title="Flower Arrangements 5"
                value-img="/images/flower_arrangements-5.jpg"
                value-description="flower arrangements 5"
                style="height:400px;width:320px;margin-bottom:20px;"
              )
              center
                img(src="/images/flower_arrangements-5.jpg", 
                alt="flower arrangements 5",
                style="height:400px;width:320px;",
                class="img-fluid rounded shadow-lg flower_arrangements")

          div(class="col-sm-12 col-md-6 col-lg-4 col-xl-4 col-12")
            div(class="boton_modal container"
                value-title="Flower Arrangements 6"
                value-img="/images/flower_arrangements-6.jpg"
                value-description="flower arrangements 6"
                style="height:400px;width:320px;margin-bottom:20px;"
              )
              center
                img(src="/images/flower_arrangements-6.jpg", 
                alt="flower arrangements 6",
                style="height:400px;width:320px;",
                class="img-fluid rounded shadow-lg flower_arrangements")


  section(id="about" class="d-flex vh-100 bg-primary justify-content-center align-items-center", style="position:relative;")
    div(class="container")
      h1(class="text-white text-center") About

      div(class="row")
        div(class="col-12 col-md-6 text-white") Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias quas aspernatur omnis, dolor quia a voluptate. Molestias asperiores, eligendi, saepe, nostrum molestiae mollitia nisi dolorum soluta consequatur voluptate ullam accusamus!
        div(class="col-12 col-md-6 text-white") Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere molestias dolore optio quas cumque quod quidem quasi! Laboriosam iusto atque dignissimos dolorum illo voluptate libero ipsam eum corrupti optio? Eius.
     
          

  section(id="contact" class="d-flex vh-100 justify-content-center", style="position:relative;")
    div(class="container")
      h1(class="text-secondary text-center pt-5") CONTACT ME



      form(action="/send", method="POST", class="row justify-content-center py-4", id="contact-form")
        div(class="col-12 col-md-8")
          div(class="form-group")
              input(name="name" id="name" placeholder="Name" class="form-control")
          div(class="form-group")
            input(name="email" id="email" placeholder="Email" type="mail" class="form-control")
          div(class="form-group")
            input(name="phone" id="phone" placeholder="Phone" type="phone" class="form-control")
          div(class="form-group")
            textarea(name="message", cols="30", rows="5" placeholder="Message" class="form-control")
          button(class="btn btn-primary" type="submit" onclick=`document.getElementById('contact-form').submit(); return false;`) Send





  //- Same modal for all projects
  div(class="modal fade portfolio-modal" 
    id="window_modal" 
    tabindex="-1" 
    role="dialog" 
    aria-labelledby="window_modalLabel" 
    aria-hidden="true"
  )
    div(class="modal-dialog" role="document")
      div(class="modal-content text-white bg-info")
        button(type="button", class="close", data-dismiss="modal", aria-label="Close")
          span(aria-hidden="true") &times;
        div(class="modal-body py-5 mt-5 px-4 text-center")
          div(class="container")
            div(class="row justify-content-center")
              div(class="col-12")
                h3(id="title_modal")
                img(src="/images/no_img.png",
                id="img_modal",
                style="height:180px;width:200px;",
                class="img-fluid rounded shadow-lg")

                p(class="",id="description_modal")
                button(type="button" class="btn btn-primary rounded" data-dismiss="modal") Close Windows



block scripts 
  